
html {
	font-size: 15px;
}
body{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	background: #ceddee;
}
html, body {
	height: 100%;
	width: 100%;
}

/* CONTENEDOR */
.container{
	display: inline-block;
	background: #eee;
	width: 1200px;
	text-align: left;
	position: relative;
	min-height: 100%;
}

/* CABECERA */
.cabecera{
	height: 150px;
	background-color: #1e5288;
}

/* MENÚ NAVEGACIÓN */
ul li { 
	margin-right: -4px; 
}
.menu{
	background-color: #bab788;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
	border-right: 1px solid #fff;
}
.menu ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 30px;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.menu ul li a i {
	font-size: 1.1rem;
	margin-right: 7px;
}
.menu ul li a:hover{
	background-color: #1e5288;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}

/* CONTENIDO */
.contentBody {
	display: grid;
	grid-template-columns: 1.5fr 9fr 1.5fr;
	column-gap:10px ;
	min-height: 100%;
	margin: 0 8px;
}

/* LATERALES */
.izq, .derch{
	height: 500px;
	background-color: #999;
	margin-top: 10px;
}

/* TABLA DATOS */
section {
	width: 100%;
	margin-top: 10px;
}
.tablaContent {
	width: 100%;
	text-align: center;
}
table {
	width: 100%;
	text-align: left;
} 
.tablaContent tr, .tablaContent td, .tablaContent th {
	border: 1px solid #fff;
	padding: 15px 10px;
}
table td a:nth-child(1n) {
	text-decoration: none;
	padding: 7px 15px;
	color: #ffffff;
	background-color: #1e5288;
	border-radius: 20px;
	text-align: center;
	transition:all .3s ease;
}
table td:nth-child(3) {
	text-align: center;
}
table td:nth-child(2) {
	width: 60%;
}
table tr:nth-child(1) {
	background-color: #333;
	color: #fff;
}
table td a:hover {
	background-color:#87a0ba;
	transition:all .3s ease;
}
tr:nth-child(odd) {
	background-color: #ccc;
}
tr:nth-child(even) {
	background-color: #fff;
}

/* FOOTER */
footer {
	/* Footer siempre presente */
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
	font-size: .9rem;
}
.contentFooter {
	width: 100%;
	height: 100%;
	background-color: #333;
	display: inline-block;
	text-align: center;
	padding: 15px 0;
}
.contentFooter a {
	color: #ddd;
	text-decoration: none;
	margin: 3px 7px;
}
.contentFooter i {
	margin: 3px 0;
	color: #ddd;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.contentFooter a:hover, .contentFooter i:hover {
	color: #fff;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}

/* VENTANA EMERGENTE */
#popup {
	visibility: hidden;
	opacity: 0;
	margin-top: -300px;
	position: absolute;
}
#popup:target {
	visibility:visible;
	opacity: 1;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:0;
	z-index: 999;
	transition:all .2s ease;
}
.popup-contenedor {
	position: relative;
	margin:7% auto;
	padding:30px 50px;
	background-color: #fafafa;
	color:#333;
	border-radius: 5px;
	width:50%;
	font-size: 1.1rem;
}
a.popup-cerrar {
	position: absolute;
	top:-10px;
	right:-10px;
	background-color: #CF1313;
	padding:4px 8px;
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 20px;
	color:#fff;  
	transition: all .2s ease; 
}
a.popup-cerrar:hover {
	background-color: #D64B4B;
	transition: all .2s ease;
}
.ventana {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 999;
	display:none;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.ventana >.ventana-pop {
	position: relative;
	margin:7% auto;
	padding:30px 50px;
	background-color: #fafafa;
	color:#333;
	border-radius: 5px;
	width:50%;
	font-size: 1.1rem;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}
.ventana-cerrar {
	position: absolute;
	top:-10px;
	right:-10px;
	background-color: #CF1313;
	padding:4px 8px;
	font-size: 1.5rem;
	text-decoration: none;
	border-radius: 20px;
	color:#fff;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;  
	transition: all .2s ease;
}
a.ventana-cerrar:hover {
	background-color: #D64B4B;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
}

/* SOMBRA TABLA */
.sombra, td a {
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.sombra:after, td a:after {
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}

/* --- RESPONSIVE --- */
/* DESKTOPS */
@media (max-width: 1199px) {
	.container { 
		width: 100%;
	}
}
/* NETBOOKS */
/* @media (max-width: 991px) {
	.container { 
		width: 100%;
	}
} */
/* TABLETS */
@media (max-width: 782px) {
	.container { 
		width: 100%;
	}
	.contentBody {
		margin-top: 185px;
		grid-template-columns: 1fr;
	}
	.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.menu ul li {
		margin: 0; 
	}
	.menu ul li:nth-child(4) {
		border-right: none;
	}
	.menu ul li a {
		text-align: center;
		border: none;
	}
	/* Cabecera Fija */
	.contentHeader {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 999;
	}
	.izq, .derch{
		height: 135px;
		margin-top: 10px;
	}
	.derch {margin-top: 15px;}
	/* Footer al final */
	footer {
		position: relative;
	}
}
/* SMART PHONES */
@media (max-width: 574px) {
	.cabecera{
		height: 100px;
	}
	.contentBody {
		margin-top: 147px;
	}
	.izq{
		margin: 0;
	}
	.menu ul li a i {
		font-size: 1.8rem;
	}
	.menu ul li a{
		padding: 10px 0;
	}	

	.contentFooter {
		padding: 10px 0;
	}
	.contentFooter i {
		font-size: 1.3rem;
	}
	.queryNone {
		display: none;
	}
}
